:root {
    --guinda: #770000;
    --anaranjado: #C74A00;
    --durazno: #DB904E;
    --morado: #2E2137;
    --oscuro: #111115;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /*1rem = 10px*/
    font-family: Agave, Arial, Helvetica, sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--anaranjado);
}

.titulo span {
    font-size: 2rem;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--durazno);
    font-size: 2rem;
    padding: 1rem;
    font-weight: 700;
}

.navegacion-principal a:hover {
    background-color: var(--durazno);
    color: var(--oscuro);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--guinda);
}

.imagen-fondo {
    background-image: url(../img/arboles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

