:root {
    --guinda: #770000;
    --anaranjado: #C74A00;
    --durazno: #DB904E;
    --morado: #2E2137;
    --oscuro: #111115;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /*1rem = 10px*/
    font-family: Agave, Arial, Helvetica, sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--anaranjado);
}

.titulo span {
    font-size: 2rem;
}


